.green {
    border: 5px solid green;
}

.imgLogo {
    width: 75px;
    height: auto;
}

.material-icons {
    color: black;
    font-size: 45px;
}

.bg-primary-lighter {
    background-color: #EAF0ED;
}

/* 小計 */
.carts .cart-msg-box {
    background-color: #3F5D45;
    color: white;
}

/* 結帳 */
.btn-block {
    display: block;
    width: 100%;
}

.btn-accent {
    background-color: #FFE180;
    border-color: #FFE180;
}
